<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Title</th>
    <th scope="col">Content</th>
    <th scope="col">Published/Edited Date</th>
    <th scope="col">Edit</th>
    <th scope="col">Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let article of articles; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>
      {{ article.title }}
    </td>
    <td>{{ article.body }}</td>
    <td>{{ article.dateOfPublish }}</td>
    <td><button type="button" class="btn btn-secondary" name="editButton" (click)="editArticle(article.id)">Edit</button></td>
    <td><button type="button" class="btn btn-danger" name="deleteButton" (click)="deleteArticle(article)">Delete</button></td>
  </tr>
  </tbody>
</table>